In [1]:
import sys
sys.path.append('./')
from utilities.data_manager import ExchangeDataManager

exchange_name = "binance"

intervals = ["1h"]

coin_to_dl = ["BTC/USDT", "ETH/USDT", "BNB/USDT", "XRP/USDT", "SOL/USDT"]

exchange = ExchangeDataManager(
    exchange_name=exchange_name, 
    path_download="./database/exchanges"
)

await exchange.download_data(
    coins=coin_to_dl, 
    intervals=intervals
)

	Récupération pour la paire BTC/USDT en timeframe 1h sur l'exchange binance...

  0%|          | 0/54 [00:00<?, ?it/s]

	Récupération pour la paire ETH/USDT en timeframe 1h sur l'exchange binance...

  0%|          | 0/54 [00:00<?, ?it/s]

	Récupération pour la paire BNB/USDT en timeframe 1h sur l'exchange binance...

  0%|          | 0/54 [00:00<?, ?it/s]

	Récupération pour la paire XRP/USDT en timeframe 1h sur l'exchange binance...

  0%|          | 0/54 [00:00<?, ?it/s]

	Récupération pour la paire SOL/USDT en timeframe 1h sur l'exchange binance...

  0%|          | 0/54 [00:00<?, ?it/s]

In [2]:
exchange_name = "binance"

exchange = ExchangeDataManager(
    exchange_name=exchange_name, 
    path_download="./database/exchanges"
)

exchange.load_data(
    coin="BTC/USDT", 
    interval="1h"
)

                         open      high       low     close        volume
date
2017-08-17 04:00:00   4261.48   4313.62   4261.32   4308.83     47.181009
2017-08-17 05:00:00   4308.83   4328.69   4291.37   4315.32     23.234916
2017-08-17 06:00:00   4330.29   4345.45   4309.37   4324.35      7.229691
2017-08-17 07:00:00   4316.62   4349.99   4287.41   4349.99      4.443249
2017-08-17 08:00:00   4333.32   4377.85   4333.32   4360.69      0.972807
...                       ...       ...       ...       ...           ...
2023-01-23 09:00:00  22719.28  22788.00  22703.26  22784.18   6806.103800
2023-01-23 10:00:00  22784.85  22957.25  22764.91  22909.95  12356.087740
2023-01-23 11:00:00  22909.95  22930.00  22826.23  22904.58  10145.716830
2023-01-23 12:00:00  22904.58  22978.00  22808.90  22910.74  11855.320510
2023-01-23 13:00:00  22911.60  22939.49  22668.43  22798.41  16043.497640

[47523 rows x 5 columns]

In [3]:
exchange.explore_data()

,exchange,timeframe,pair,occurences,start_date,end_date
0,binance,1h,BNB-USDT,45587,2017-11-06 04:00:00,2023-01-23 15:00:00
1,binance,1h,BTC-USDT,47524,2017-08-17 06:00:00,2023-01-23 15:00:00
2,binance,1h,ETH-USDT,47524,2017-08-17 06:00:00,2023-01-23 15:00:00
3,binance,1h,SOL-USDT,21470,2020-08-11 08:00:00,2023-01-23 15:00:00
4,binance,1h,XRP-USDT,41320,2018-05-04 10:00:00,2023-01-23 15:00:00